* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.center {
  height: 550px;
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.imgdiv {
  overflow: hidden;
  position: absolute;
  width: 200px;
  height: 270px;
}

.imgdiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(100%);
}
